matplotlib==3.6.3
torch==1.10.2
torchvision==0.11.1
setuptools==45.2.0
PyYAML==5.3.1
easydict==1.10
tensorboard==2.12.0
opencv-python-headless==4.7.0.68
albumentations==0.5.2
mmcv==1.7.1
timm==0.4.9
numpy==1.22.3
spacy==2.3.9
Cython==0.29.32